# JALTECH JAL821 / impresora POS 80mm
#
# Opcion 1: impresora por red/Ethernet/Wi-Fi
# POS_PRINTER_HOST=192.168.1.50
# POS_PRINTER_PORT=9100
#
# Opcion 2: impresora USB local en el computador de caja
# Windows debe tener una impresora instalada con este nombre.
# POS_PRINTER_SHARE=JAL821
#
# Tambien sirve si la impresora fue compartida en Windows:
# POS_PRINTER_SHARE=\\localhost\JAL821
